n8n/workflows/DevPulse - Daily Digest.json
{
  "name": "DevPulse - Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        0
      ],
      "id": "b9557e9c-f0ed-4e9c-b4a8-b4fdd2a56886",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:8000/digest/html",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -304,
        0
      ],
      "id": "12e58476-0738-4053-9520-0ec85452be5d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4db2aebb-a77e-4b33-9b12-6c4f1d26551c",
              "leftValue": "LLM",
              "rightValue": "LLM",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7c4d4831-4c26-45c0-818e-0fdc29f826d6",
              "leftValue": "EdgeAI",
              "rightValue": "EdgeAI",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bf72fe2f-1fb3-47f1-b475-11561697f64e",
              "leftValue": "Quantization",
              "rightValue": "Quantization",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -96,
        0
      ],
      "id": "bf980bc6-9de1-430c-b190-37b4037aac9d",
      "name": "Filter"
    },
    {
      "parameters": {
        "fromEmail": "hillaniljppatel@gmail.com",
        "toEmail": "hillaniljppatel@gmail.com",
        "subject": "=DevPulse Daily — {{$now.toFormat('dd LLL')}}",
        "html": "={{$json[\"data\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        112,
        0
      ],
      "id": "6fd6fa40-c1b6-49c7-8a15-ac2ee06cd5eb",
      "name": "Send email",
      "webhookId": "6ed8d0ef-d68f-4c34-b461-c6204a616909",
      "credentials": {
        "smtp": {
          "id": "QptPTy8gacTal2J5",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95ef7aed-8bc9-4280-8371-31439a0f279e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ed3895028c106ab256aa7d737c7791bccc4edb7c5b9e07115a302db9cdc700d"
  },
  "id": "qhYTb9SKR7CfogEj",
  "tags": []
}