n8n/workflows/devpulse_daily_digest.json
{
  "name": "DevPulse - Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        0
      ],
      "id": "b9557e9c-f0ed-4e9c-b4a8-b4fdd2a56886",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=http://backend:8000/digest/json?limit=50",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -304,
        0
      ],
      "id": "12e58476-0738-4053-9520-0ec85452be5d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "functionCode": "/*\n  Filter & Build Email\n  - expects the HTTP Request node to return a JSON array of items\n  - keeps items from the last 24 hours with score >= 0.7\n  - builds an HTML snippet in `data` and returns it as payload\n*/\nconst raw = $node[\"HTTP Request\"].json;\nconst items = Array.isArray(raw) ? raw : (raw || []);\nconst HOURS = 24;\nconst MIN_SCORE = 0.7;\nconst cutoff = new Date(Date.now() - HOURS * 3600 * 1000);\n\nconst filtered = items.filter(it => {\n  try {\n    const t = new Date(it.event_time || it.event_time);\n    const s = Number(it.score || 0);\n    return t >= cutoff && s >= MIN_SCORE;\n  } catch (e) {\n    return false;\n  }\n});\n\nif (!filtered.length) {\n  // no items -> stop workflow (no output means downstream nodes won't execute)\n  return [];\n}\n\nconst htmlItems = filtered.slice(0, 25).map(it => {\n  const title = it.title || '(no title)';\n  const url = it.url || '#';\n  const summary = it.summary_ai || '';\n  const score = (typeof it.score !== 'undefined') ? it.score : '-';\n  return `<li style=\"margin-bottom:8px\"><a href='${url}' target='_blank'>${title}</a> — <em>${summary}</em> <strong>[score=${score}]</strong></li>`;\n}).join('');\n\nconst html = `\n<div style=\"font-family:Inter,Arial,sans-serif;max-width:700px;margin:auto\">\n  <h1 style=\"margin:0 0 8px\">DevPulse — Last ${HOURS}h</h1>\n  <hr style=\"border:0;border-top:1px solid #eee;margin:12px 0\"/>\n  <ul style=\"padding-left:20px\">${htmlItems}</ul>\n  <hr style=\"border:0;border-top:1px solid #eee;margin:12px 0\"/>\n  <p style=\"font-size:12px;color:#999\">Powered by DevPulse-AI · Supabase · n8n</p>\n</div>\n`;\n\nreturn [{ json: { data: html } }];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -64,
        0
      ],
      "id": "filter-build-email-001",
      "name": "Filter & Build Email"
    },
    {
      "parameters": {
        "fromEmail": "hillaniljppatel@gmail.com",
        "toEmail": "hillaniljppatel@gmail.com",
        "subject": "=DevPulse Daily — {{$now.toFormat('dd LLL yyyy')}}",
        "html": "={{$json[\"data\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        160,
        0
      ],
      "id": "6fd6fa40-c1b6-49c7-8a15-ac2ee06cd5eb",
      "name": "Send email",
      "webhookId": "6ed8d0ef-d68f-4c34-b461-c6204a616909",
      "credentials": {
        "smtp": {
          "id": "QptPTy8gacTal2J5",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter & Build Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Build Email": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95ef7aed-8bc9-4280-8371-31439a0f279e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ed3895028c106ab256aa7d737c7791bccc4edb7c5b9e07115a302db9cdc700d"
  },
  "id": "qhYTb9SKR7CfogEj",
  "tags": []
}
